

#header {
  width: 100%;
  padding: var(--padding-m);
  justify-content: space-around;
  font-size: 16px;
  position: fixed;
  background-color: white;
  z-index: 1;

  
}


@media ((min-width: 320px) and (max-width: 480px)) {
 #header{
  padding-left: 0px;
 }
}



